:root {
    --warm-beige: rgb(243, 232, 221);
    --text-light: var(--warm-beige);
    --text-dark: rgb(2, 1, 18);
    --text-accent:  rgb(141, 2, 46);
}

body {
    background-color: var(--text-dark);
    padding: 20px;
}

@media (max-width: 680px) {
    body {
        padding: 0;
        margin: 0;
        background-color: var(--warm-beige);
    }
}

#main {
    background-color: var(--warm-beige);
    color: var(--text-dark);
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    max-width: 720px !important;
    margin: 0 auto;
    padding: 30px 40px;
    text-align: center;
}

#main img {
    display: block;
    margin: 0 auto;
    width: 75px;
}

#main h1 {
    font-style: italic;
    margin: 0;
    margin-top: 16px;
    font-size: 3em;
}

#main #author {
    font-size: 1.3em;
    margin: 16px 0;
}

#main #content {
    font-size: 1.1em;
    display: inline-block;
    text-align: left;
}

/* Generated Poem Styling */
.stanza {
    margin-bottom: 1em;
}

.verse-line {
    margin: 0 0 .25em 0;
    padding-left: 1.25em;
    text-indent: -1.25em;
}

#main #content h4, .stanza h4 {
    font-size: 1.2em;
    margin-bottom: .2em;
}

#main h2 {
    font-size: 1.7em;
    text-align: center;
    font-style: italic;
    margin: .8em 0;
}

#main #tagline {
    opacity: .6;
    font-style: italic;
    margin-top: 0 !important;
}

a, .accent {
    color: var(--text-accent);
}

a:hover {
    opacity: 0.6;
    transition: 0.2s;
}

#main hr {
    border: none;
    height: 1px;
    background-color: transparent;
    margin: 16px 0;
}

#poem-count {
    opacity: .6;
    font-style: italic !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

#author-poem-count {
    opacity: .6;
    font-style: italic !important;
}

.poem-list, .author-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2em !important;
}

.author-list li {
    margin-bottom: .3em;
    font-style: italic;
}

.author-list li a {
    text-decoration: none;
}

.author-block {
    margin-bottom: 1.25rem;
} 

.author-name {
    margin-bottom: 0;
}

::selection {
    background-color: var(--text-accent);
    color: var(--text-light);
}
