<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title>{{ poem.title }} by {{ poem.author }}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../main.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

</head>
<body>
    <div id="main">
        <h1>{{ poem.title }}</h1>
        <p id="author">{{ poem.author }}</p>
        <hr>
        <div id="content">
            {% if poem.stanzas_html %}
                {% for stanza in poem.stanzas_html %}
                    <div class="stanza">
                        {% for line in stanza %}
                            {% if line.tag == 'p' %}
                                <p class="verse-line">{{ line.content | safe }}</p>
                            {% else %}
                                {# block-level HTML (h1..h6, ul, etc.) rendered as-is #}
                                {{ line.content | safe }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                    <div class="fallback-content">
                        {{ poem.content | safe }}
                    </div>
            {% endif %}
        </div>
        <hr>
        <p id="tagline"><a href="../index.html">Go back</a><br>Built with <a href="https://fraile-tok.github.io/hopkins">Hopkins</a> by <a href="https://jpiglesias.github.io">JPIglesias</a></p>
    </div>
</body>
</html>